<!DOCTYPE html>
<html lang="en" th:replace="~{base :: Layout(~{::title},~{::body},~{::link})}" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>All Team Leaders</title>
    <link href="../static/css/color.css" rel="stylesheet" th:href="@{/css/color.css}"/>
</head>
<body>
<section>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title text-center">All Team Leaders</h2>
            </div>
            <div class="card-body">
                <!-- Use Bootstrap table styling -->
                <table class="table table-bordered table-dark">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Password</th>

                        <!-- Add other columns as needed -->
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Use Thymeleaf to iterate over the list of recruiters -->
                    <tr th:each="teamLeaders : ${teamLeaders}">
                        <td th:text="${teamLeaders.tl_id}"></td>
                        <td th:text="${teamLeaders.email}"></td>
                        <td th:text="${teamLeaders.username}"></td>
                        <td th:text="${teamLeaders.password}"></td>

                        <!-- Add other columns as needed -->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>
